<center>
  <a href="1.6.Control-Flow.ipynb">Previous Page</a> | <a href="./">Content Page</a> | <a href="1.8-Modules-and-Classes.ipynb">Next Page</a></center>
</center>

# 1.7 Reading and Writing Files in Python

##### About File
- Files have many types such as images (bmp), text documents (txt, word), executables (com, exe, sh), and others. 
- Files exist in individual folders. Moving folders to folders requires `os` library
- Python recognizes text or binary files, and these two types are different. 

<b>Binary</b>
Binary files can only be opened and written by an application that understand the file’s structure. For instance, docx can only be opened and written by Word.  Zip file cannot be opened by Word.  Python has many libraries, and thus can read and manipulate these files easily. Below, we use one of the libraries to read and write Excel files

<b>Text</b>
- Text files are structured as a sequence of lines.
- Every line is terminated with an EOL or End of Line character such as newline character. EOF tells the interpreter (.i.e., Python that the current line ends and a new one has begun).

In Python, to read a file or to writing one, <b> the built-in open () </b> function is used. 

To read or to write a file object in Python, we use the command: 
* file_object  = open(“filename”, “mode”) 
  * where file_object is the variable to add the file object. 
  * The second argument – mode – tells the interpreter whether we want to read or write.

<b>Mode</b>

    Character Meaning
    --------- ---------------------------------------------------------------
    'r'       open for reading (default)
    'w'       open for writing, truncating the file first
    'x'       create a new file and open it for writing
    'a'       open for writing, appending to the end of the file if it exists

## 1.7.1 Writing a text file

In [2]:

file = open('hello.txt','a') 
 
file.write('Hello World') 
file.write('This is a basic Python for Data Science Class') 
file.write('We first learn Basic Syntax') 
file.write('Later, we will learn visualization') 
 
file.close()

## 1.7.2 Reading a file

In [3]:
file = open('hello.txt', 'r') 
print (file.read())

Hello WorldThis is a basic Python for Data Science ClassWe first learn Basic SyntaxLater, we will learn visualizationHello WorldThis is a basic Python for Data Science ClassWe first learn Basic SyntaxLater, we will learn visualization

<b>Adding a newline (EOF) in text \n

In [4]:

file = open('hello1.txt','w') 
 
file.write('Hello World\n') 
file.write('This is a basic Python for Data Science Cla|ss\n') 
file.write('We first learn Basic Syntax\n') 
file.write('Later, we will learn visualization\n') 
 
file.close()

In [5]:
file = open('hello1.txt', 'r') 
print (file.read())

Hello World
This is a basic Python for Data Science Cla|ss
We first learn Basic Syntax
Later, we will learn visualization

## 1.7.3 Writing an Excel file

In [1]:
import openpyxl

In [2]:
from openpyxl import Workbook

In [3]:
wb =openpyxl.Workbook() #opening a new workboook

In [4]:
wb.get_sheet_names() #getting the name of the sheet

C:\ProgramData\Anaconda2\envs\ipykernel_py3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  """Entry point for launching an IPython kernel.

['Sheet']

In [5]:
wb.sheetnames

['Sheet']

In [6]:
sheet = wb.get_active_sheet() #make the current sheet active

C:\ProgramData\Anaconda2\envs\ipykernel_py3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_active_sheet (Use the .active property).
  """Entry point for launching an IPython kernel.

In [7]:
sheet =wb.active #new version :make the current sheet active

In [8]:
sheet.title

'Sheet'

In [9]:
sheet.title = "Python for Data Science"

In [10]:
wb.create_sheet()

In [11]:
wb.create_sheet(index=4, title='Another Sheet')

In [12]:
wb.sheetnames

['Python for Data Science', 'Sheet', 'Another Sheet']

In [13]:
sheet= wb.get_sheet_by_name('Python for Data Science') #making Python for Data Science active

C:\ProgramData\Anaconda2\envs\ipykernel_py3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  """Entry point for launching an IPython kernel.

In [14]:
sheet=wb['Python for Data Science']

In [15]:
sheet['A1']='Hello World'

In [16]:
sheet['B1']='Countries'

In [17]:
sheet['B2']='Malaysia'

In [18]:
sheet['B3']='Australia'

In [19]:
sheet['B4']='Vietnam'

In [20]:
sheet['B5']='Singapore'

In [21]:
wb.save('myExcel.xlsx')

## 1.7.4. Reading an Excel file

In [22]:
import openpyxl
wb = openpyxl.load_workbook('myExcel.xlsx')

In [23]:
sheet = wb['Python for Data Science']

In [24]:
sheet['A1'].coordinate

'A1'

In [25]:
sheet['A1'].value

'Hello World'

#### Another way to read Excel using Pandas (Preview of Pandas)
we need lrd > pip install lrd

In [6]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [7]:
df=pd.read_excel('myExcel.xlsx', sheet_name='Python for Data Science')

In [8]:
print("Column headings:")
print(df.columns)

Column headings:
Index(['Hello World', 'Countries'], dtype='object')

In [9]:
df

   Hello World  Countries
0          NaN   Malaysia
1          NaN  Australia
2          NaN    Vietnam
3          NaN  Singapore

In [10]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
for i in range(0, 4, 1):
    print (i)

0
1
2
3

In [12]:
for i in df.index:
    print(df['Countries'][i])

Malaysia
Australia
Vietnam
Singapore

### Exercise
* Read resale.xlsx
* Print the columns
* Find a flat which is lower than $200,000

* Read resale.xlsx

In [18]:
import pandas as pd
df=pd.read_excel('resale.xlsx')

* Print the columns

In [19]:
print("Column headings:")
print(df.columns)

Column headings:
Index(['quarter', 'town', 'flat_type', 'price'], dtype='object')

* Find a flat which is lower than $200,000

In [22]:
(df['price']< 200000)

0         False
1         False
2         False
3         False
4         False
          ...
102095    False
102096    False
102097    False
102098    False
102099    False
Name: price, Length: 102100, dtype: bool

In [26]:
df[(df['price']> 1000000)]

        quarter             town  flat_type      price
15088   2012-10           BISHAN  EXECUTIVE  1010000.0
24736   2013-04  KALLANG/WHAMPOA     3 ROOM  1020000.0
34050   2013-11           BISHAN  EXECUTIVE  1050000.0
48187   2014-10           BISHAN  EXECUTIVE  1088888.0
55008   2015-02     CENTRAL AREA     5 ROOM  1030000.0
55009   2015-02     CENTRAL AREA     5 ROOM  1040000.0
56227   2015-03     CENTRAL AREA     5 ROOM  1018000.0
56586   2015-03  KALLANG/WHAMPOA     3 ROOM  1060000.0
57419   2015-04           BISHAN  EXECUTIVE  1050000.0
57624   2015-04     CENTRAL AREA     5 ROOM  1050000.0
57625   2015-04     CENTRAL AREA     5 ROOM  1060000.0
64040   2015-08     CENTRAL AREA     5 ROOM  1050000.0
68753   2015-11     CENTRAL AREA     5 ROOM  1088000.0
70190   2015-12     CENTRAL AREA     5 ROOM  1018000.0
71554   2016-01     CENTRAL AREA     5 ROOM  1068888.0
71555   2016-01     CENTRAL AREA     5 ROOM  1020000.0
74149   2016-03     CENTRAL AREA     5 ROOM  1050000.0
74605   2016-03  KALLANG/WHAMPOA     5 ROOM  1004888.0
77658   2016-05     CENTRAL AREA     5 ROOM  1063888.0
78179   2016-05  KALLANG/WHAMPOA     5 ROOM  1028000.0
79455   2016-06     CENTRAL AREA     5 ROOM  1070000.0
81260   2016-07     CENTRAL AREA     5 ROOM  1040000.0
81677   2016-07  KALLANG/WHAMPOA     5 ROOM  1025000.0
82663   2016-08           BISHAN  EXECUTIVE  1050000.0
82883   2016-08     CENTRAL AREA     5 ROOM  1070000.0
83034   2016-08         CLEMENTI     5 ROOM  1005000.0
83460   2016-08  KALLANG/WHAMPOA     5 ROOM  1100000.0
84762   2016-09     CENTRAL AREA     5 ROOM  1120000.0
84764   2016-09     CENTRAL AREA     5 ROOM  1055000.0
86217   2016-10           BISHAN     5 ROOM  1038000.0
88052   2016-11     CENTRAL AREA     5 ROOM  1100000.0
88053   2016-11     CENTRAL AREA     5 ROOM  1100000.0
89947   2016-12  KALLANG/WHAMPOA     3 ROOM  1150000.0
90919   2017-01     CENTRAL AREA     5 ROOM  1108000.0
91267   2017-01  KALLANG/WHAMPOA     5 ROOM  1005000.0
91925   2017-02           BISHAN     5 ROOM  1180000.0
93095   2017-03           BISHAN  EXECUTIVE  1088000.0
93314   2017-03     CENTRAL AREA     5 ROOM  1116000.0
93316   2017-03     CENTRAL AREA     5 ROOM  1046000.0
95334   2017-04         CLEMENTI     5 ROOM  1020000.0
95336   2017-04         CLEMENTI     5 ROOM  1040000.0
96822   2017-05           BISHAN     5 ROOM  1006000.0
97064   2017-05      BUKIT TIMAH  EXECUTIVE  1015000.0
97078   2017-05     CENTRAL AREA     5 ROOM  1080000.0
97079   2017-05     CENTRAL AREA     5 ROOM  1028000.0
97080   2017-05     CENTRAL AREA     5 ROOM  1058000.0
98781   2017-06           BISHAN     5 ROOM  1028888.0
98786   2017-06           BISHAN  EXECUTIVE  1010000.0
98987   2017-06     CENTRAL AREA     5 ROOM  1080000.0
100519  2017-07           BISHAN     5 ROOM  1038000.0
100520  2017-07           BISHAN     5 ROOM  1050000.0
100522  2017-07           BISHAN     5 ROOM  1028888.0
100526  2017-07           BISHAN  EXECUTIVE  1080000.0
101423  2017-07       QUEENSTOWN     5 ROOM  1030000.0
101427  2017-07       QUEENSTOWN  EXECUTIVE  1160000.0
101837  2017-07        TOA PAYOH     5 ROOM  1010000.0
101841  2017-07        TOA PAYOH     5 ROOM  1120000.0

In [24]:
df.shape

(102100, 4)

####  More detailed information about read files: https://pythonspot.com/en/python-database/

<center>
  <a href="1.6.Control-Flow.ipynb">Previous Page</a> | <a href="./">Content Page</a> | <a href="1.8-Modules-and-Classes.ipynb">Next Page</a></center>
</center>

In [ ]:
.

```

ipykernel_py3) C:\>pip install openpyxl
Collecting openpyxl
  Downloading https://files.pythonhosted.org/packages/dc/99/9c58d83d7f093c0af5f90875f8595d2e9587fc36532a8bb347608cf0876b/openpyxl-2.5.3.tar.gz (170kB)
    100% |████████████████████████████████| 174kB 4.9MB/s
Collecting jdcal (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/a0/38/dcf83532480f25284f3ef13f8ed63e03c58a65c9d3ba2a6a894ed9497207/jdcal-1.4-py2.py3-none-any.whl
Collecting et_xmlfile (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/22/28/a99c42aea746e18382ad9fb36f64c1c1f04216f41797f2f0fa567da11388/et_xmlfile-1.0.1.tar.gz
Building wheels for collected packages: openpyxl, et-xmlfile
  Running setup.py bdist_wheel for openpyxl ... done
  Stored in directory: C:\Users\slelycj\AppData\Local\pip\Cache\wheels\11\7d\47\3dad56b5d260c790d9110623ba66783a2ad345eb76dd63003b
  Running setup.py bdist_wheel for et-xmlfile ... done
  Stored in directory: C:\Users\slelycj\AppData\Local\pip\Cache\wheels\2a\77\35\0da0965a057698121fc7d8c5a7a9955cdbfb3cc4e2423cad39
Successfully built openpyxl et-xmlfile
Installing collected packages: jdcal, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4 openpyxl-2.5.3
Cache entry deserialization failed, entry ignored
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.
```

In [ ]:
```
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
C:\ProgramData\Anaconda2\envs\ipykernel_py3\lib\site-packages\pandas\io\excel.py in __init__(self, io, **kwds)
    260         try:
--> 261             import xlrd
    262         except ImportError:

ModuleNotFoundError: No module named 'xlrd'

During handling of the above exception, another exception occurred:

ImportError                               Traceback (most recent call last)
<ipython-input-39-2609dd3da735> in <module>()
----> 1 df=pd.read_excel('myExcel.xlsx', sheet_name='Python for Data Science')

C:\ProgramData\Anaconda2\envs\ipykernel_py3\lib\site-packages\pandas\util\_decorators.py in wrapper(*args, **kwargs)
    116                 else:
    117                     kwargs[new_arg_name] = new_arg_value
--> 118             return func(*args, **kwargs)
    119         return wrapper
    120     return _deprecate_kwarg

C:\ProgramData\Anaconda2\envs\ipykernel_py3\lib\site-packages\pandas\io\excel.py in read_excel(io, sheet_name, header, skiprows, skip_footer, index_col, names, usecols, parse_dates, date_parser, na_values, thousands, convert_float, converters, dtype, true_values, false_values, engine, squeeze, **kwds)
    228 
    229     if not isinstance(io, ExcelFile):
--> 230         io = ExcelFile(io, engine=engine)
    231 
    232     return io._parse_excel(

C:\ProgramData\Anaconda2\envs\ipykernel_py3\lib\site-packages\pandas\io\excel.py in __init__(self, io, **kwds)
    261             import xlrd
    262         except ImportError:
--> 263             raise ImportError(err_msg)
    264         else:
    265             ver = tuple(map(int, xlrd.__VERSION__.split(".")[:2]))

ImportError: Install xlrd >= 0.9.0 for Excel support

```