# Mini-Workshop Boxplot

![Box Final](Box_workshop.png)

In [1]:
import pandas as pd
df = pd.read_csv("resale-sample-regression.csv", index_col=0)
labels=df.Region.unique()
x_pos=labels
labels

array(['North East', 'East', 'Central', 'West', 'North'], dtype=object)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
#USING SEABORN

import seaborn as sns

In [3]:
data = pd.concat([df['resale_price'], df['Region']], axis=1)
data.head(3)

       resale_price      Region
87705      590000.0  North East
86039      490000.0  North East
52213      290000.0  North East