<center>
  <a href="1.6.Control-Flow.ipynb">Previous Page</a> | <a href="./">Content Page</a> | <a href="1.8-Modules-and-Classes.ipynb">Next Page</a></center>
</center>

# 1.7 Reading and Writing Files in Python

##### About File
- Files have many types such as images (bmp), text documents (txt, word), executables (com, exe, sh), and others. 
- Files exist in individual folders. Moving folders to folders requires `os` library
- Python recognizes text or binary files, and these two types are different. 

<b>Binary</b>
Binary files can only be opened and written by an application that understand the file’s structure. For instance, docx can only be opened and written by Word.  Zip file cannot be opened by Word.  Python has many libraries, and thus can read and manipulate these files easily. Below, we use one of the libraries to read and write Excel files

<b>Text</b>
- Text files are structured as a sequence of lines.
- Every line is terminated with an EOL or End of Line character such as newline character. EOF tells the interpreter (.i.e., Python that the current line ends and a new one has begun).

In Python, to read a file or to writing one, <b> the built-in open () </b> function is used. 

To read or to write a file object in Python, we use the command: 
* file_object  = open(“filename”, “mode”) 
  * where file_object is the variable to add the file object. 
  * The second argument – mode – tells the interpreter whether we want to read or write.

<b>Mode</b>

    Character Meaning
    --------- ---------------------------------------------------------------
    'r'       open for reading (default)
    'w'       open for writing, truncating the file first
    'x'       create a new file and open it for writing
    'a'       open for writing, appending to the end of the file if it exists

## 1.7.1 Writing a text file

In [2]:

file = open('hello.txt','a') 
 
file.write('Hello World') 
file.write('This is a basic Python for Data Science Class') 
file.write('We first learn Basic Syntax') 
file.write('Later, we will learn visualization') 
 
file.close()

## 1.7.2 Reading a file

In [3]:
file = open('hello.txt', 'r') 
print (file.read())

Hello WorldThis is a basic Python for Data Science ClassWe first learn Basic SyntaxLater, we will learn visualizationHello WorldThis is a basic Python for Data Science ClassWe first learn Basic SyntaxLater, we will learn visualization

<b>Adding a newline (EOF) in text \n

In [4]:

file = open('hello1.txt','w') 
 
file.write('Hello World\n') 
file.write('This is a basic Python for Data Science Cla|ss\n') 
file.write('We first learn Basic Syntax\n') 
file.write('Later, we will learn visualization\n') 
 
file.close()

In [5]:
file = open('hello1.txt', 'r') 
print (file.read())

Hello World
This is a basic Python for Data Science Cla|ss
We first learn Basic Syntax
Later, we will learn visualization

## 1.7.3 Writing an Excel file

In [1]:
import openpyxl

In [2]:
from openpyxl import Workbook

In [3]:
wb =openpyxl.Workbook() #opening a new workboook

In [4]:
wb.get_sheet_names() #getting the name of the sheet

C:\ProgramData\Anaconda2\envs\ipykernel_py3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  """Entry point for launching an IPython kernel.

['Sheet']

In [5]:
wb.sheetnames

['Sheet']

In [6]:
sheet = wb.get_active_sheet() #make the current sheet active

C:\ProgramData\Anaconda2\envs\ipykernel_py3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_active_sheet (Use the .active property).
  """Entry point for launching an IPython kernel.

In [7]:
sheet =wb.active #new version :make the current sheet active

In [8]:
sheet.title

'Sheet'

In [9]:
sheet.title = "Python for Data Science"

In [10]:
wb.create_sheet()

In [11]:
wb.create_sheet(index=4, title='Another Sheet')

In [12]:
wb.sheetnames

['Python for Data Science', 'Sheet', 'Another Sheet']

In [13]:
sheet= wb.get_sheet_by_name('Python for Data Science') #making Python for Data Science active

C:\ProgramData\Anaconda2\envs\ipykernel_py3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  """Entry point for launching an IPython kernel.

In [14]:
sheet=wb['Python for Data Science']

In [15]:
sheet['A1']='Hello World'

In [16]:
sheet['B1']='Countries'

In [17]:
sheet['B2']='Malaysia'

In [18]:
sheet['B3']='Australia'

In [19]:
sheet['B4']='Vietnam'

In [20]:
sheet['B5']='Singapore'

In [21]:
wb.save('myExcel.xlsx')

## 1.7.4. Reading an Excel file

In [22]:
import openpyxl
wb = openpyxl.load_workbook('myExcel.xlsx')

In [23]:
sheet = wb['Python for Data Science']

In [24]:
sheet['A1'].coordinate

'A1'

In [25]:
sheet['A1'].value

'Hello World'

#### Another way to read Excel using Pandas (Preview of Pandas)
we need lrd > pip install lrd

In [6]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [7]:
df=pd.read_excel('myExcel.xlsx', sheet_name='Python for Data Science')

In [8]:
print("Column headings:")
print(df.columns)

Column headings:
Index(['Hello World', 'Countries'], dtype='object')

In [9]:
df

   Hello World  Countries
0          NaN   Malaysia
1          NaN  Australia
2          NaN    Vietnam
3          NaN  Singapore

In [10]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
for i in range(0, 4, 1):
    print (i)

0
1
2
3

In [12]:
for i in df.index:
    print(df['Countries'][i])

Malaysia
Australia
Vietnam
Singapore

### Exercise
* Read resale.xlsx
* Print the columns
* Find a flat which is lower than $200,000

* Read resale.xlsx

In [88]:
import pandas as pd
df=pd.read_excel('resale.xlsx', sheet_name="resales")

* Print the columns

In [89]:
print("Column headings:")
print(df.columns)

Column headings:
Index(['quarter', 'town', 'flat_type', 'price'], dtype='object')

* Find a flat which is lower than $200,000

In [90]:
(df['price']< 200000)

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
102070    False
102071    False
102072    False
102073    False
102074    False
102075    False
102076    False
102077    False
102078    False
102079    False
102080    False
102081    False
102082    False
102083    False
102084    False
102085    False
102086    False
102087    False
102088    False
102089    False
102090    False
102091    False
102092    False
102093    False
102094    False
102095    False
102096    False
102097    False
102098    False
102099    False
Name: price, Length: 102100, dtype: bool

In [91]:
df[(df['price']< 200000)]

        quarter         town flat_type     price
48246   2014-10  BUKIT MERAH    1 ROOM  195000.0
68606   2015-11  BUKIT MERAH    1 ROOM  195000.0
87916   2016-11  BUKIT MERAH    2 ROOM  198000.0
89493   2016-12  BUKIT MERAH    2 ROOM  192000.0
90391   2016-12    TOA PAYOH    2 ROOM  190000.0
100597  2017-07  BUKIT MERAH    1 ROOM  175000.0
101852  2017-07    WOODLANDS    2 ROOM  188000.0

In [92]:
df.shape

(102100, 4)

####  More detailed information about read files: https://pythonspot.com/en/python-database/

<center>
  <a href="1.6.Control-Flow.ipynb">Previous Page</a> | <a href="./">Content Page</a> | <a href="1.8-Modules-and-Classes.ipynb">Next Page</a></center>
</center>

In [ ]:
.

```

ipykernel_py3) C:\>pip install openpyxl
Collecting openpyxl
  Downloading https://files.pythonhosted.org/packages/dc/99/9c58d83d7f093c0af5f90875f8595d2e9587fc36532a8bb347608cf0876b/openpyxl-2.5.3.tar.gz (170kB)
    100% |████████████████████████████████| 174kB 4.9MB/s
Collecting jdcal (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/a0/38/dcf83532480f25284f3ef13f8ed63e03c58a65c9d3ba2a6a894ed9497207/jdcal-1.4-py2.py3-none-any.whl
Collecting et_xmlfile (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/22/28/a99c42aea746e18382ad9fb36f64c1c1f04216f41797f2f0fa567da11388/et_xmlfile-1.0.1.tar.gz
Building wheels for collected packages: openpyxl, et-xmlfile
  Running setup.py bdist_wheel for openpyxl ... done
  Stored in directory: C:\Users\slelycj\AppData\Local\pip\Cache\wheels\11\7d\47\3dad56b5d260c790d9110623ba66783a2ad345eb76dd63003b
  Running setup.py bdist_wheel for et-xmlfile ... done
  Stored in directory: C:\Users\slelycj\AppData\Local\pip\Cache\wheels\2a\77\35\0da0965a057698121fc7d8c5a7a9955cdbfb3cc4e2423cad39
Successfully built openpyxl et-xmlfile
Installing collected packages: jdcal, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4 openpyxl-2.5.3
Cache entry deserialization failed, entry ignored
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.
```

In [ ]:
```
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
C:\ProgramData\Anaconda2\envs\ipykernel_py3\lib\site-packages\pandas\io\excel.py in __init__(self, io, **kwds)
    260         try:
--> 261             import xlrd
    262         except ImportError:

ModuleNotFoundError: No module named 'xlrd'

During handling of the above exception, another exception occurred:

ImportError                               Traceback (most recent call last)
<ipython-input-39-2609dd3da735> in <module>()
----> 1 df=pd.read_excel('myExcel.xlsx', sheet_name='Python for Data Science')

C:\ProgramData\Anaconda2\envs\ipykernel_py3\lib\site-packages\pandas\util\_decorators.py in wrapper(*args, **kwargs)
    116                 else:
    117                     kwargs[new_arg_name] = new_arg_value
--> 118             return func(*args, **kwargs)
    119         return wrapper
    120     return _deprecate_kwarg

C:\ProgramData\Anaconda2\envs\ipykernel_py3\lib\site-packages\pandas\io\excel.py in read_excel(io, sheet_name, header, skiprows, skip_footer, index_col, names, usecols, parse_dates, date_parser, na_values, thousands, convert_float, converters, dtype, true_values, false_values, engine, squeeze, **kwds)
    228 
    229     if not isinstance(io, ExcelFile):
--> 230         io = ExcelFile(io, engine=engine)
    231 
    232     return io._parse_excel(

C:\ProgramData\Anaconda2\envs\ipykernel_py3\lib\site-packages\pandas\io\excel.py in __init__(self, io, **kwds)
    261             import xlrd
    262         except ImportError:
--> 263             raise ImportError(err_msg)
    264         else:
    265             ver = tuple(map(int, xlrd.__VERSION__.split(".")[:2]))

ImportError: Install xlrd >= 0.9.0 for Excel support

```