## Advanced Pandas

In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [55]:

df = pd.read_excel("Sample-Superstore.xls")
df.head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,9,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,10,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700

In [56]:
df.shape

(9994, 21)

In [57]:
df.drop('Row ID',axis=1,inplace=True)
df.shape
df.head(10)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700

In [58]:

# Subsetting the DataFrame
df_subset = df.loc[[i for i in range(5,10)],['Customer ID','Customer Name','City','Postal Code','Sales']]
df_subset

  Customer ID    Customer Name         City  Postal Code    Sales
5    BH-11710  Brosina Hoffman  Los Angeles        90032   48.860
6    BH-11710  Brosina Hoffman  Los Angeles        90032    7.280
7    BH-11710  Brosina Hoffman  Los Angeles        90032  907.152
8    BH-11710  Brosina Hoffman  Los Angeles        90032   18.504
9    BH-11710  Brosina Hoffman  Los Angeles        90032  114.900

In [59]:
''' Now, you do it, showig rows #25 to 34, last 3 columns'''
df_subset = df.loc[[i for i in range(25,35)],df.columns[-1:-4:-1]]
df_subset

       Profit  Discount  Quantity
25     4.2224       0.2         2
26    11.7741       0.0         3
27 -1665.0522       0.5         7
28    -7.0532       0.7         2
29    15.5250       0.2         3
30     1.1016       0.2         2
31     9.7092       0.2         6
32    -5.7150       0.7         6
33     3.5460       0.2         2
34     9.9468       0.2         3

In [60]:
# An example use case – determining statistics on sales and profit for records 100-199
df_subset = df.loc[[i for i in range(100,200)],['Sales','Profit']]
df_subset.describe()

             Sales       Profit
count   100.000000   100.000000
mean    262.957220     0.347574
std     858.983762   170.744869
min       1.788000 -1359.992000
25%      21.327000     1.635900
50%      66.960000     9.653600
75%     177.095000    23.458800
max    8159.952000   585.552000

In [61]:
''' Now you do it, samples 300 to 400, for Quantity and Discount variables'''
df_subset = df.loc[[i for i in range(300,400)],['Quantity','Discount']]
df_subset.describe()

         Quantity    Discount
count  100.000000  100.000000
mean     3.620000    0.176700
std      2.398569    0.213972
min      1.000000    0.000000
25%      2.000000    0.000000
50%      3.000000    0.200000
75%      4.000000    0.200000
max     13.000000    0.800000

In [9]:
''' 
Exercise: A useful function – unique
see the exampe below, study what it is and how it works 

Return unique values of Series object.

Uniques are returned in order of appearance. Hash table-based unique, therefore does NOT sort.
'''

' \nExercise: A useful function – unique\nsee the exampe below, study what it is and how it works \n\n'

In [62]:
df['State'].unique()

array(['Kentucky', 'California', 'Florida', 'North Carolina',
       'Washington', 'Texas', 'Wisconsin', 'Utah', 'Nebraska',
       'Pennsylvania', 'Illinois', 'Minnesota', 'Michigan', 'Delaware',
       'Indiana', 'New York', 'Arizona', 'Virginia', 'Tennessee',
       'Alabama', 'South Carolina', 'Oregon', 'Colorado', 'Iowa', 'Ohio',
       'Missouri', 'Oklahoma', 'New Mexico', 'Louisiana', 'Connecticut',
       'New Jersey', 'Massachusetts', 'Georgia', 'Nevada', 'Rhode Island',
       'Mississippi', 'Arkansas', 'Montana', 'New Hampshire', 'Maryland',
       'District of Columbia', 'Kansas', 'Vermont', 'Maine',
       'South Dakota', 'Idaho', 'North Dakota', 'Wyoming',
       'West Virginia'], dtype=object)

In [63]:
df['State'].nunique()

49

In [64]:
df['Country'].unique()

array(['United States'], dtype=object)

In [70]:
# df.drop('Country',axis=1,inplace=True)
# df['State'].nunique()
df['Postal Code'].nunique()

631

In [45]:
df

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [72]:
# Conditional Selection and Boolean Filtering
df_subset = df.loc[[i for i in range (10)],['Ship Mode','State','Sales']]
df_subset

        Ship Mode       State     Sales
0    Second Class    Kentucky  261.9600
1    Second Class    Kentucky  731.9400
2    Second Class  California   14.6200
3  Standard Class     Florida  957.5775
4  Standard Class     Florida   22.3680
5  Standard Class  California   48.8600
6  Standard Class  California    7.2800
7  Standard Class  California  907.1520
8  Standard Class  California   18.5040
9  Standard Class  California  114.9000

In [74]:

df_subset['Sales']>100

0     True
1     True
2    False
3     True
4    False
5    False
6    False
7     True
8    False
9     True
Name: Sales, dtype: bool

In [75]:

df_subset[df_subset['Sales']>100]

        Ship Mode       State     Sales
0    Second Class    Kentucky  261.9600
1    Second Class    Kentucky  731.9400
3  Standard Class     Florida  957.5775
7  Standard Class  California  907.1520
9  Standard Class  California  114.9000

In [76]:
df_subset[df_subset['Sales']>100]

df_subset[(df_subset['State']!='California') & (df_subset['Sales']>100)]

        Ship Mode     State     Sales
0    Second Class  Kentucky  261.9600
1    Second Class  Kentucky  731.9400
3  Standard Class   Florida  957.5775

In [19]:
## Setting and re-setting index
matrix_data = np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['A','B','C','D','E']
column_headings = ['Age', 'Height', 'Weight']

df1 = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
print("\nThe DataFrame\n",'-'*25, sep='')
print(df1)
print("\nAfter resetting index\n",'-'*35, sep='')
print(df1.reset_index())
print("\nAfter resetting index with 'drop' option TRUE\n",'-'*45, sep='')
print(df1.reset_index(drop=True))
print("\nAdding a new column 'Profession'\n",'-'*45, sep='')
df1['Profession'] = "Student Teacher Engineer Doctor Nurse".split()
print(df1)
print("\nSetting 'Profession' column as index\n",'-'*45, sep='')
print (df1.set_index('Profession'))

The DataFrame
-------------------------
   Age  Height  Weight
A   22      66     140
B   42      70     148
C   30      62     125
D   35      68     160
E   25      62     152

After resetting index
-----------------------------------
  index  Age  Height  Weight
0     A   22      66     140
1     B   42      70     148
2     C   30      62     125
3     D   35      68     160
4     E   25      62     152

After resetting index with 'drop' option TRUE
---------------------------------------------
   Age  Height  Weight
0   22      66     140
1   42      70     148
2   30      62     125
3   35      68     160
4   25      62     152

Adding a new column 'Profession'
---------------------------------------------
   Age  Height  Weight Profession
A   22      66     140    Student
B   42      70     148    Teacher
C   30      62     125   Engineer
D   35      68     160     Doctor
E   25      62     152      Nurse

Setting 'Profession' column as index
---------------------------------------------
            Age  Height  Weight
Profession
Student      22      66     140
Teacher      42      70     148
Engineer     30      62     125
Doctor       35      68     160
Nurse        25      62     152

In [83]:
df_subset = df.loc[[i for i in range (10)],['Ship Mode','State','Sales']]
df_subset
byState = df_subset.groupby('State')
byState.describe()

           Sales                                                          \
           count        mean         std      min         25%        50%
State
California   6.0  185.219333  355.889307    7.280   15.591000   33.68200
Florida      2.0  489.972750  661.292979   22.368  256.170375  489.97275
Kentucky     2.0  496.950000  332.326045  261.960  379.455000  496.95000


                   75%       max
State
California   98.390000  907.1520
Florida     723.775125  957.5775
Kentucky    614.445000  731.9400

In [84]:
print("\nGrouping by 'State' column and listing mean sales\n",'-'*50, sep='')
print(byState.mean())
print("\nGrouping by 'State' column and listing total sum of sales\n",'-'*50, sep='')
print(byState.sum())
print(pd.DataFrame(df_subset.groupby('State').describe().loc['California']).transpose())
df_subset.groupby('Ship Mode').describe().loc[['Second Class','Standard Class']]
pd.DataFrame(byState.describe().loc['California'])
byStateCity=df.groupby(['State','City'])
byStateCity.describe()['Sales']

Grouping by 'State' column and listing mean sales
--------------------------------------------------
                 Sales
State
California  185.219333
Florida     489.972750
Kentucky    496.950000

Grouping by 'State' column and listing total sum of sales
--------------------------------------------------
                Sales
State
California  1111.3160
Florida      979.9455
Kentucky     993.9000
           Sales
           count        mean         std   min     25%     50%    75%      max
California   6.0  185.219333  355.889307  7.28  15.591  33.682  98.39  907.152

                      count         mean         std       min        25%  \
State     City
Alabama   Auburn        6.0   294.471667  361.914543     3.760     8.8050
          Decatur      13.0   259.601538  385.660903    14.940    23.9200
          Florence      5.0   399.470000  796.488863     4.980     7.2700
          Hoover        4.0   131.462500  230.646923     7.160    13.3925
          Huntsville   10.0   248.437000  419.576667     3.620    26.8700
...                     ...          ...         ...       ...        ...
Wisconsin Superior      9.0   144.414444  213.394065     5.560    17.1200
          Waukesha      1.0    54.500000         NaN    54.500    54.5000
          Wausau        4.0    79.370000  111.450605    12.390    20.0325
          West Allis    2.0   125.240000  165.067007     8.520    66.8800
Wyoming   Cheyenne      1.0  1603.136000         NaN  1603.136  1603.1360

                           50%        75%       max
State     City
Alabama   Auburn       182.030   456.4075   900.080
          Decatur       44.950   239.9200  1215.920
          Florence      12.480   152.7600  1819.860
          Hoover        20.725   138.7950   477.240
          Huntsville    81.920   171.8075  1319.960
...                        ...        ...       ...
Wisconsin Superior      47.400   125.9900   629.100
          Waukesha      54.500    54.5000    54.500
          Wausau        29.605    88.9425   245.880
          West Allis   125.240   183.6000   241.960
Wyoming   Cheyenne    1603.136  1603.1360  1603.136

[604 rows x 8 columns]

In [85]:
# Missing values in Pandas
df_missing=pd.read_excel("Sample-Superstore.xls",sheet_name="Missing")
df_missing

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,NaN,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,261.960,2.0,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,731.940,3.0,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,14.620,2.0,0.00,NaN
3,4,NaN,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,NaN,5.0,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,22.368,2.0,0.20,2.5164
5,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,48.860,7.0,0.00,14.1694
6,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AR-10002833,Office Supplies,7.280,4.0,0.00,1.9656
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,NaN,TEC-PH-10002275,Technology,907.152,6.0,0.20,90.7152
8,9,CA-2014-115812,NaT,2014-06-14,Standard Class,NaN,Brosina Hoffman,Consumer,United States,NaN,California,NaN,West,OFF-BI-10003910,Office Supplies,NaN,3.0,0.20,5.7825
9,10,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,NaN,United States,NaN,California,90032.0,West,NaN,Office Supplies,114.900,5.0,0.00,34.4700
10,11,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,NaN,FUR-TA-10001539,Furniture,1706.184,NaN,0.20,85.3092
11,12,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002033,Technology,911.424,4.0,0.20,NaN
12,13,CA-2017-114412,2017-04-15,2017-04-20,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027.0,South,OFF-PA-10002365,Office Supplies,15.552,3.0,0.20,5.4432
13,14,NaN,2016-12-05,2016-12-10,NaN,IM-15070,Irene Maddox,Consumer,United States,Seattle,Washington,NaN,West,OFF-BI-10003656,Office Supplies,407.976,3.0,0.20,132.5922
14,15,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,Texas,76106.0,Central,OFF-AP-10002311,Office Supplies,68.810,5.0,0.80,-123.8580
15,16,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,NaN,Fort Worth,Texas,76106.0,Central,OFF-BI-10000756,Office Supplies,2.544,3.0,0.80,-3.8160
16,17,NaN,2014-11-11,2014-11-18,Standard Class,PK-19075,Pete Kriz,Consumer,United States,Madison,Wisconsin,53711.0,Central,OFF-ST-10004186,Office Supplies,665.880,NaN,0.00,NaN
17,18,CA-2014-167164,2014-05-13,2014-05-15,Second Class,AG-10270,Alejandro Grove,Consumer,United States,West Jordan,Utah,84084.0,West,OFF-ST-10000107,Office Supplies,55.500,2.0,0.00,9.9900
18,19,CA-2014-143336,2014-08-27,2014-09-01,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,California,94109.0,West,OFF-AR-10003056,NaN,8.560,2.0,0.00,2.4824
19,20,CA-2014-143336,2014-08-27,NaT,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,California,94109.0,West,TEC-PH-10001949,Technology,213.480,3.0,0.20,16.0110
20,21,CA-2014-143336,2014-08-27,2014-09-01,Second Class,NaN,Zuschuss Donatelli,NaN,United States,San Francisco,California,94109.0,West,OFF-BI-10002215,Office Supplies,22.720,4.0,0.20,7.3840
21,22,CA-2016-137330,2016-12-09,2016-12-13,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,Nebraska,68025.0,Central,OFF-AR-10000246,,19.460,7.0,0.00,5.0596
22,23,CA-2016-137330,2016-12-09,2016-12-13,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,Nebraska,68025.0,Central,OFF-AP-10001492,Office Supplies,60.340,7.0,0.00,15.6884

In [86]:
df_missing.isnull()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sales,Quantity,Discount,Profit
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
8,False,False,True,False,False,True,False,False,False,True,False,True,False,False,False,True,False,False,False
9,False,False,False,False,False,False,False,True,False,True,False,False,False,True,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,True,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
16,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
19,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [88]:
for c in df_missing.columns:
    miss = df_missing[c].isnull().sum()
    if miss>0:
        print("{} has {} missing value(s)".format(c,miss))
    else:
        print("{} has NO missing value!".format(c))

Row ID has NO missing value!
Order ID has 3 missing value(s)
Order Date has 1 missing value(s)
Ship Date has 1 missing value(s)
Ship Mode has 1 missing value(s)
Customer ID has 2 missing value(s)
Customer Name has 1 missing value(s)
Segment has 2 missing value(s)
Country has 1 missing value(s)
City has 2 missing value(s)
State has NO missing value!
Postal Code has 2 missing value(s)
Region has 2 missing value(s)
Product ID has 1 missing value(s)
Category has 1 missing value(s)
Sales has 2 missing value(s)
Quantity has 2 missing value(s)
Discount has NO missing value!
Profit has 3 missing value(s)

In [89]:
'''
Exercise: Filling missing values with fillna() or dropping them by dropna() 
try the instructions below, report how each method handles the missing values 
describe the role of parameters, for instance bfill, ffill, axis. 
'''
# fillna()
# Fill NA/NaN values using the specified method.
# method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
#     Method to use for filling holes in reindexed Series
#     pad / ffill: propagate last valid observation forward to next valid
#     backfill / bfill: use next valid observation to fill gap.

# dropna()
# Remove missing values.
# axis : {0 or 'index', 1 or 'columns'}, default 0
#     Determine if rows or columns which contain missing values are
#     removed.

#     * 0, or 'index' : Drop rows which contain missing values.
#     * 1, or 'columns' : Drop columns which contain missing value.
#        Pass tuple or list to drop on multiple axes.
#        Only a single axis is allowed.

'\nExercise: Filling missing values with fillna() or dropping them by dropna() \ntry the instructions below, report how each method handles the missing values \ndescribe the role of parameters, forinstance bfill, ffill, axis. \n'

In [100]:
# 1
df_missing.fillna('FILL')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08 00:00:00,2016-11-11 00:00:00,Second Class,CG-12520,FILL,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,261.96,2.0,0.00,41.9136
1,2,CA-2016-152156,2016-11-08 00:00:00,2016-11-11 00:00:00,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,731.94,3.0,0.00,219.582
2,3,CA-2016-138688,2016-06-12 00:00:00,2016-06-16 00:00:00,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,14.62,2.0,0.00,FILL
3,4,FILL,2015-10-11 00:00:00,2015-10-18 00:00:00,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,FILL,5.0,0.45,-383.031
4,5,US-2015-108966,2015-10-11 00:00:00,2015-10-18 00:00:00,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,22.368,2.0,0.20,2.5164
5,6,CA-2014-115812,2014-06-09 00:00:00,2014-06-14 00:00:00,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,48.86,7.0,0.00,14.1694
6,7,CA-2014-115812,2014-06-09 00:00:00,2014-06-14 00:00:00,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AR-10002833,Office Supplies,7.28,4.0,0.00,1.9656
7,8,CA-2014-115812,2014-06-09 00:00:00,2014-06-14 00:00:00,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,FILL,TEC-PH-10002275,Technology,907.152,6.0,0.20,90.7152
8,9,CA-2014-115812,FILL,2014-06-14 00:00:00,Standard Class,FILL,Brosina Hoffman,Consumer,United States,FILL,California,FILL,West,OFF-BI-10003910,Office Supplies,FILL,3.0,0.20,5.7825
9,10,CA-2014-115812,2014-06-09 00:00:00,2014-06-14 00:00:00,Standard Class,BH-11710,Brosina Hoffman,FILL,United States,FILL,California,90032.0,West,FILL,Office Supplies,114.9,5.0,0.00,34.47
10,11,CA-2014-115812,2014-06-09 00:00:00,2014-06-14 00:00:00,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,FILL,FUR-TA-10001539,Furniture,1706.184,FILL,0.20,85.3092
11,12,CA-2014-115812,2014-06-09 00:00:00,2014-06-14 00:00:00,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002033,Technology,911.424,4.0,0.20,FILL
12,13,CA-2017-114412,2017-04-15 00:00:00,2017-04-20 00:00:00,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027.0,South,OFF-PA-10002365,Office Supplies,15.552,3.0,0.20,5.4432
13,14,FILL,2016-12-05 00:00:00,2016-12-10 00:00:00,FILL,IM-15070,Irene Maddox,Consumer,United States,Seattle,Washington,FILL,West,OFF-BI-10003656,Office Supplies,407.976,3.0,0.20,132.5922
14,15,US-2015-118983,2015-11-22 00:00:00,2015-11-26 00:00:00,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,Texas,76106.0,Central,OFF-AP-10002311,Office Supplies,68.81,5.0,0.80,-123.858
15,16,US-2015-118983,2015-11-22 00:00:00,2015-11-26 00:00:00,Standard Class,HP-14815,Harold Pawlan,Home Office,FILL,Fort Worth,Texas,76106.0,Central,OFF-BI-10000756,Office Supplies,2.544,3.0,0.80,-3.816
16,17,FILL,2014-11-11 00:00:00,2014-11-18 00:00:00,Standard Class,PK-19075,Pete Kriz,Consumer,United States,Madison,Wisconsin,53711.0,Central,OFF-ST-10004186,Office Supplies,665.88,FILL,0.00,FILL
17,18,CA-2014-167164,2014-05-13 00:00:00,2014-05-15 00:00:00,Second Class,AG-10270,Alejandro Grove,Consumer,United States,West Jordan,Utah,84084.0,West,OFF-ST-10000107,Office Supplies,55.5,2.0,0.00,9.99
18,19,CA-2014-143336,2014-08-27 00:00:00,2014-09-01 00:00:00,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,California,94109.0,West,OFF-AR-10003056,FILL,8.56,2.0,0.00,2.4824
19,20,CA-2014-143336,2014-08-27 00:00:00,FILL,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,California,94109.0,West,TEC-PH-10001949,Technology,213.48,3.0,0.20,16.011
20,21,CA-2014-143336,2014-08-27 00:00:00,2014-09-01 00:00:00,Second Class,FILL,Zuschuss Donatelli,FILL,United States,San Francisco,California,94109.0,West,OFF-BI-10002215,Office Supplies,22.72,4.0,0.20,7.384
21,22,CA-2016-137330,2016-12-09 00:00:00,2016-12-13 00:00:00,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,Nebraska,68025.0,Central,OFF-AR-10000246,,19.46,7.0,0.00,5.0596
22,23,CA-2016-137330,2016-12-09 00:00:00,2016-12-13 00:00:00,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,Nebraska,68025.0,Central,OFF-AP-10001492,Office Supplies,60.34,7.0,0.00,15.6884

In [101]:
# 2
# df_missing[['Customer Name','Product ID']].fillna('FILL')
df_missing[['Customer Name','Product ID']].fillna(method='pad')

         Customer Name       Product ID
0                  NaN  FUR-BO-10001798
1          Claire Gute  FUR-CH-10000454
2      Darrin Van Huff  OFF-LA-10000240
3       Sean O'Donnell  FUR-TA-10000577
4       Sean O'Donnell  OFF-ST-10000760
5      Brosina Hoffman  FUR-FU-10001487
6      Brosina Hoffman  OFF-AR-10002833
7      Brosina Hoffman  TEC-PH-10002275
8      Brosina Hoffman  OFF-BI-10003910
9      Brosina Hoffman  OFF-BI-10003910
10     Brosina Hoffman  FUR-TA-10001539
11     Brosina Hoffman  TEC-PH-10002033
12        Andrew Allen  OFF-PA-10002365
13        Irene Maddox  OFF-BI-10003656
14       Harold Pawlan  OFF-AP-10002311
15       Harold Pawlan  OFF-BI-10000756
16           Pete Kriz  OFF-ST-10004186
17     Alejandro Grove  OFF-ST-10000107
18  Zuschuss Donatelli  OFF-AR-10003056
19  Zuschuss Donatelli  TEC-PH-10001949
20  Zuschuss Donatelli  OFF-BI-10002215
21           Ken Black  OFF-AR-10000246
22           Ken Black  OFF-AP-10001492

In [42]:
# 3
df_missing['Sales'].fillna(method='ffill')

0      261.960
1      731.940
2       14.620
3       14.620
4       22.368
5       48.860
6        7.280
7      907.152
8      907.152
9      114.900
10    1706.184
11     911.424
12      15.552
13     407.976
14      68.810
15       2.544
16     665.880
17      55.500
18       8.560
19     213.480
20      22.720
21      19.460
22      60.340
Name: Sales, dtype: float64

In [43]:
# 4
df_missing['Sales'].fillna(method='bfill')

0      261.960
1      731.940
2       14.620
3       22.368
4       22.368
5       48.860
6        7.280
7      907.152
8      114.900
9      114.900
10    1706.184
11     911.424
12      15.552
13     407.976
14      68.810
15       2.544
16     665.880
17      55.500
18       8.560
19     213.480
20      22.720
21      19.460
22      60.340
Name: Sales, dtype: float64

In [98]:
# 5
df_missing['Sales'].fillna(df_missing.mean()['Sales'])

/tmp/ipykernel_26475/1937525799.py:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_missing['Sales'].fillna(df_missing.mean()['Sales'])
/tmp/ipykernel_26475/1937525799.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_missing['Sales'].fillna(df_missing.mean()['Sales'])

0      261.960000
1      731.940000
2       14.620000
3      298.452857
4       22.368000
5       48.860000
6        7.280000
7      907.152000
8      298.452857
9      114.900000
10    1706.184000
11     911.424000
12      15.552000
13     407.976000
14      68.810000
15       2.544000
16     665.880000
17      55.500000
18       8.560000
19     213.480000
20      22.720000
21      19.460000
22      60.340000
Name: Sales, dtype: float64

In [45]:
# 6

df_missing.dropna(axis=0)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sales,Quantity,Discount,Profit
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,731.940,3.0,0.0,219.5820
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,22.368,2.0,0.2,2.5164
5,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,48.860,7.0,0.0,14.1694
6,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AR-10002833,Office Supplies,7.280,4.0,0.0,1.9656
12,13,CA-2017-114412,2017-04-15,2017-04-20,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027.0,South,OFF-PA-10002365,Office Supplies,15.552,3.0,0.2,5.4432
14,15,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,Texas,76106.0,Central,OFF-AP-10002311,Office Supplies,68.810,5.0,0.8,-123.8580
17,18,CA-2014-167164,2014-05-13,2014-05-15,Second Class,AG-10270,Alejandro Grove,Consumer,United States,West Jordan,Utah,84084.0,West,OFF-ST-10000107,Office Supplies,55.500,2.0,0.0,9.9900
21,22,CA-2016-137330,2016-12-09,2016-12-13,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,Nebraska,68025.0,Central,OFF-AR-10000246,,19.460,7.0,0.0,5.0596
22,23,CA-2016-137330,2016-12-09,2016-12-13,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,Nebraska,68025.0,Central,OFF-AP-10001492,Office Supplies,60.340,7.0,0.0,15.6884

In [46]:
# 7
df_missing.dropna(axis=1)

    Row ID           State  Discount
0        1        Kentucky      0.00
1        2        Kentucky      0.00
2        3      California      0.00
3        4         Florida      0.45
4        5         Florida      0.20
5        6      California      0.00
6        7      California      0.00
7        8      California      0.20
8        9      California      0.20
9       10      California      0.00
10      11      California      0.20
11      12      California      0.20
12      13  North Carolina      0.20
13      14      Washington      0.20
14      15           Texas      0.80
15      16           Texas      0.80
16      17       Wisconsin      0.00
17      18            Utah      0.00
18      19      California      0.00
19      20      California      0.20
20      21      California      0.20
21      22        Nebraska      0.00
22      23        Nebraska      0.00

In [47]:
df_missing

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,NaN,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,261.960,2.0,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,731.940,3.0,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,14.620,2.0,0.00,NaN
3,4,NaN,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,NaN,5.0,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,22.368,2.0,0.20,2.5164
5,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,48.860,7.0,0.00,14.1694
6,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AR-10002833,Office Supplies,7.280,4.0,0.00,1.9656
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,NaN,TEC-PH-10002275,Technology,907.152,6.0,0.20,90.7152
8,9,CA-2014-115812,NaT,2014-06-14,Standard Class,NaN,Brosina Hoffman,Consumer,United States,NaN,California,NaN,West,OFF-BI-10003910,Office Supplies,NaN,3.0,0.20,5.7825
9,10,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,NaN,United States,NaN,California,90032.0,West,NaN,Office Supplies,114.900,5.0,0.00,34.4700
10,11,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,NaN,FUR-TA-10001539,Furniture,1706.184,NaN,0.20,85.3092
11,12,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002033,Technology,911.424,4.0,0.20,NaN
12,13,CA-2017-114412,2017-04-15,2017-04-20,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027.0,South,OFF-PA-10002365,Office Supplies,15.552,3.0,0.20,5.4432
13,14,NaN,2016-12-05,2016-12-10,NaN,IM-15070,Irene Maddox,Consumer,United States,Seattle,Washington,NaN,West,OFF-BI-10003656,Office Supplies,407.976,3.0,0.20,132.5922
14,15,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,Texas,76106.0,Central,OFF-AP-10002311,Office Supplies,68.810,5.0,0.80,-123.8580
15,16,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,NaN,Fort Worth,Texas,76106.0,Central,OFF-BI-10000756,Office Supplies,2.544,3.0,0.80,-3.8160
16,17,NaN,2014-11-11,2014-11-18,Standard Class,PK-19075,Pete Kriz,Consumer,United States,Madison,Wisconsin,53711.0,Central,OFF-ST-10004186,Office Supplies,665.880,NaN,0.00,NaN
17,18,CA-2014-167164,2014-05-13,2014-05-15,Second Class,AG-10270,Alejandro Grove,Consumer,United States,West Jordan,Utah,84084.0,West,OFF-ST-10000107,Office Supplies,55.500,2.0,0.00,9.9900
18,19,CA-2014-143336,2014-08-27,2014-09-01,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,California,94109.0,West,OFF-AR-10003056,NaN,8.560,2.0,0.00,2.4824
19,20,CA-2014-143336,2014-08-27,NaT,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,California,94109.0,West,TEC-PH-10001949,Technology,213.480,3.0,0.20,16.0110
20,21,CA-2014-143336,2014-08-27,2014-09-01,Second Class,NaN,Zuschuss Donatelli,NaN,United States,San Francisco,California,94109.0,West,OFF-BI-10002215,Office Supplies,22.720,4.0,0.20,7.3840
21,22,CA-2016-137330,2016-12-09,2016-12-13,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,Nebraska,68025.0,Central,OFF-AR-10000246,,19.460,7.0,0.00,5.0596
22,23,CA-2016-137330,2016-12-09,2016-12-13,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,Nebraska,68025.0,Central,OFF-AP-10001492,Office Supplies,60.340,7.0,0.00,15.6884

In [99]:
df2 = df_missing.dropna(axis=0)
df2

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sales,Quantity,Discount,Profit
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,731.940,3.0,0.0,219.5820
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,22.368,2.0,0.2,2.5164
5,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,48.860,7.0,0.0,14.1694
6,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AR-10002833,Office Supplies,7.280,4.0,0.0,1.9656
12,13,CA-2017-114412,2017-04-15,2017-04-20,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027.0,South,OFF-PA-10002365,Office Supplies,15.552,3.0,0.2,5.4432
14,15,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,Texas,76106.0,Central,OFF-AP-10002311,Office Supplies,68.810,5.0,0.8,-123.8580
17,18,CA-2014-167164,2014-05-13,2014-05-15,Second Class,AG-10270,Alejandro Grove,Consumer,United States,West Jordan,Utah,84084.0,West,OFF-ST-10000107,Office Supplies,55.500,2.0,0.0,9.9900
21,22,CA-2016-137330,2016-12-09,2016-12-13,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,Nebraska,68025.0,Central,OFF-AR-10000246,,19.460,7.0,0.0,5.0596
22,23,CA-2016-137330,2016-12-09,2016-12-13,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,Nebraska,68025.0,Central,OFF-AP-10001492,Office Supplies,60.340,7.0,0.0,15.6884