## Exercise 3
### Data preparation, and visualization
### Complete this notebook and upload it before the deadline please

In [1]:
''' 
1- READ THE contents of celeb1-bad.csv   
2- Realize which variables have got empty cells
3- Remove any data samples with empty cell/cells
4- Prove that dataset is OK now
5- Save it as celebs1-good1.csv

'''

' \n1- READ THE contents of celeb1-bad.csv   \n2- Realize which variables have got empty cells\n3- Remove any data samples with empty cell/cells\n4- Prove that dataset is OK now\n5- Save it as celebs1-good1.csv\n\n'

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
df = pd.read_csv("celebs1-bad.csv", encoding_errors='ignore')
df.head(10)

              name  height  weight gender
0     Adriana Lima  177.80   115.0      f
1      Alicia Keys  167.64   120.0      f
2   Angelina Jolie  172.70   122.0      f
3  Anna Kournikova  172.70   120.0      f
4      Ashley Judd  170.20   125.0      f
5    Avril Lavigne  157.50   113.0      f
6      Bar Rafaeli  174.00   128.0      f
7  Beyonce Knowles  167.60   129.0      f
8     Blake Lively  172.70     NaN      f
9   Carmen Electra  160.00   113.0      f

In [30]:
for c in df.columns:
    miss = df[c].isnull().sum()
    if miss>0:
        print("{} has {} missing value(s)".format(c,miss))
    else:
        print("{} has NO missing value!".format(c))

name has NO missing value!
height has 2 missing value(s)
weight has 3 missing value(s)
gender has NO missing value!

In [31]:
df.dropna(axis=1, inplace=True)

In [32]:
for c in df.columns:
    miss = df[c].isnull().sum()
    if miss>0:
        print("{} has {} missing value(s)".format(c,miss))
    else:
        print("{} has NO missing value!".format(c))

name has NO missing value!
gender has NO missing value!

In [3]:
''' 
1- READ THE contents of celeb1-bad.csv   
2- Realize which variables have got empty cells
3- Replace any empty cell with the average of its column
4- Prove that dataset is OK now
5- Weights are in Pounds now, convert them to kG and replace the same column
6- Gender are 'f' and 'm' now, replace them with 0.1 and 0.9 respectively
7- Show the histogram of all 3 non-nominal variables, and the pie chart of the 'gender' variable
8- Print the mean of all 3 non-nominal variables.
9- Save the results on celebs1-good2.csv

'''

" \n1- READ THE contents of celeb1-bad.csv   \n2- Realize which variables have got empty cells\n3- Replace any empty cell with the average of its column\n4- Prove that dataset is OK now\n5- Weights are in Pounds now, convert them to kG and replace the same column\n6- Gender are 'f' and 'm' now, replace them with 0.1 and 0.9 respectively\n7- Show the histogram of all 3 non-nominal variables, and the pie chart of the 'gender' variable\n8- Print the mean of all 3 non-nominal variables.\n9- Save the results on celebs1-good2.csv\n\n"

In [33]:
df = pd.read_csv("celebs1-bad.csv", encoding_errors='ignore')
df.head(10)

              name  height  weight gender
0     Adriana Lima  177.80   115.0      f
1      Alicia Keys  167.64   120.0      f
2   Angelina Jolie  172.70   122.0      f
3  Anna Kournikova  172.70   120.0      f
4      Ashley Judd  170.20   125.0      f
5    Avril Lavigne  157.50   113.0      f
6      Bar Rafaeli  174.00   128.0      f
7  Beyonce Knowles  167.60   129.0      f
8     Blake Lively  172.70     NaN      f
9   Carmen Electra  160.00   113.0      f

In [49]:
missing_columns = []
for c in df.columns:
    miss = df[c].isnull().sum()
    if miss>0:
        missing_columns.append(c)
        print("{} has {} missing value(s)".format(c,miss))
    else:
        print("{} has NO missing value!".format(c))

name has NO missing value!
height has NO missing value!
weight has NO missing value!
gender has NO missing value!

In [47]:
for i in range(1,len(df.columns)-1):
    df.iloc[:,i].fillna(df.iloc[:,i].mean(), inplace = True)

In [48]:
for c in df.columns:
    miss = df[c].isnull().sum()
    if miss>0:
        print("{} has {} missing value(s)".format(c,miss))
    else:
        print("{} has NO missing value!".format(c))

name has NO missing value!
height has NO missing value!
weight has NO missing value!
gender has NO missing value!